<!doctype html>
<html ng-app="customersApp">
<head>
    <title>Controller Demo</title>
    <link href="../styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Customers</h2>
    <div class="container" ng-controller="CustomersController as ctrl">
    Filter: <input type="text" ng-model="customerFilter.name" />
    <br /><br />
    <table>
        <tr>
            <th ng-click="ctrl.doSort('name')">Name</th>
            <th ng-click="ctrl.doSort('city')">City</th>
            <th ng-click="ctrl.doSort('orderTotal')">Order Total</th>
            <th ng-click="ctrl.doSort('joined')">Joined</th>
        </tr>
        <tr ng-repeat="cust in ctrl.customers | limitTo:5 | filter: customerFilter |orderBy:ctrl.sortBy:ctrl.reverse ">
            <td>{{ cust.name | uppercase}}</td>
            <td>{{ cust.city }}</td>
            <td>{{ cust.orderTotal | currency: '$'}}</td>
            <td>{{ cust.joined | date: 'yyyy/MM/dd' }}</td>
        </tr>
    </table>
    <ul>
        <li> A</li>
        <li> B</li>
    </ul>
    <br>
    <span>Total Customers: {{ ctrl.customers.length}} </span>
    </div>
    <script src="../angular.js"></script>
    <script scr="../angular-route.js"></script>
    <script>
        var app = angular.module('customersApp', []);
    </script>
    <script src="app/controllers/customersControllerWithAs.js"></script>
</body>
</html>
